*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main: #6E9C9F;
    --yellow: #F8D477;
    --blue: #325379;
    --green: #62D3A4;
    --radius: 6px;
    --border: none;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    background-color: var(--main);
    padding: 12px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius);
}
.calculator-top{
    display: flex;
    justify-content: space-around;
    gap: 12px;
}
.calculator-keys{
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding-top: 12px;
}
.calculator-keys__row{
    display: flex;
    gap: 12px;
}
.calculator__btn{
    border-radius: var(--radius);
    border: var(--border);
    padding: 14px 0;
    background-color: var(--yellow);
    color: gray;
}
.calculator-top__input{
    background-color: var(--blue);
    padding: 14px 140px;
    border: var(--border);
    border-radius: var(--radius);
}
button{
    width: 68px;
    background-color: var(--blue);
    border-radius: var(--radius);
    border: var(--border);
    color: white;
}
.calculator__btn__equal{
    background-color: var(--green);
    color: gray;
}