article{
    background-color: cadetblue;
    border-radius: 6px;
    width: 30%;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
}