.weather-container{
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    padding: 12px;
}
h1{
    color: darkgoldenrod;
    text-align: center;
}
input{
    padding: 12px;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input:focus{
    border: darkgoldenrod;
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#submit{
    background-color: darkgoldenrod;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
