.container{
    background-color: rgb(158, 198, 200);
    width: 240px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

img{
    width: 120px;
}

#btn{
    padding: 12px;
    background-color: aliceblue;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}