.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 240px);
    grid-gap: 20px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1, .image-2, .image-3, .image-4, .image-5, .image-6{
    position: relative;
}

p{
   position: absolute;
    bottom: -35px;
}

.image-1{
    grid-column: 1 / 3;
}

.image-2{
    grid-column: 3 / 4;
}

.image-3{
    grid-row: 2 / 4 ;
}

.image-4{
    grid-column: 2 / 4;
}