.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
button{
    background-color: thistle;
    border: none;
    color: white;
    padding: 8px 22px;
    border-radius: 2px;
}

input{
    height: 20px;
}