section{
    background-color: aliceblue;
    padding: 40px 0;
    margin-top: 20px;
}

.input-container{
    background-color: rgb(126, 169, 206);
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-top: 10px;
}

#btn{
    padding: 8px 16px;
    margin-top: 10px;
    background-color: rgb(0, 119, 223);
    border: none;
    border-radius: 4px;
    color: white;
}