img{
    margin: 10px;
}

.container{
    width: 500px;
    background-color: wheat;
    padding: 30px;
    border: 4px;
    margin: 0 auto;
    text-align: center;
}

button{
    padding: 10px 24px;
    border: none;
    background-color: red;
    color: white;
}

#start{
    display: block;
    margin: 0 auto;
}

.winner{
    font-size: 22px;
    color: darkcyan; 
}