
section {
    height: 100vh;
    background-color: red;
    border: 1px solid white;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    border: 4px solid rgb(245, 145, 232);
}