.teaser {
    max-width: 100%;
    overflow: hidden;
    padding: 3em;

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
        padding: 0;
        list-style: none;
    
        &__item {
            transition: all 0.3s ease-in-out;
    
            &:hover {
                transform: translate(-5px, -5px);
                box-shadow: 10px 10px 25px rgba(#444, 0.25);
            }
        }
    
        &:nth-child(odd) {
            background-color: #ebecf0;
        }
    
        &:nth-child(even) {
            background-color: #f2f2f2;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        &__content {
            padding: 1.5em 1em;
        }
    }
}

.hidden {
    display: none
}