
section {
    height: 100vh;
    background-color: antiquewhite;
}

button {
    background-color: beige;
    padding: 20px;
    border: none;
    display: inline-block;
    margin: auto;
}
.active{
    background-color: yellow;
}