button{
    background: none;
    border: none;
    color: red;
    padding-left: 60px;
}

li{
    border-bottom: 1px solid gray;
    display: inline;
}

#btn{
    background-color: rgb(187, 187, 187);
    color: white;
    padding: 10px;
}