@mixin mobile-xs{
    @media (max-width: 375px) { @content; }
}
  
@mixin mobile-s{
    @media (min-width: 376px) and (max-width: 799px) {
      @content;
    }
}
  
@mixin tablet-s {
    @media (min-width: 800px) and (max-width: 1024px) {
      @content;
    }
}
  
  