body{
    position: relative;
}
.cookie{
    background-color: rgb(243, 253, 243);
    padding: 20px;
}

h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
}

.cookie-parag{
    color: rgb(192, 192, 192);
    position: fixed;
}

button{
    padding: 10px 18px;
}

#ok{
    background-color: green;
    color: white;
    text-transform: uppercase;
    border: none;
}

#decline{
    border: 1px solid black;
    color: green;
}