:root{
    --textColor: #111; 
    --whiteColor: #fff;
    --grayColor: #484848;
    --blackColor: #000;
    --lightGray: #f5f5f5;
    --headerColor: #3ba133;
    --borderColor: #d3d3d3;
    --redColor: #cc0008;
    --yellowColor: #ffdb00;
    --rounded: 48px;
    --sectionPadding: 64px;
    --footerLink: 8px;
    --headerPadding: 24px;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    padding: 0 48px;
}

.text--black {
    color: #000;
}

.border--roundend {
    border: 0;
    border-radius: var(--rounded);
}

.list--no-style {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links--no-style {
    text-decoration: none;
    color: var(--textColor);
}

.links--no-style--white {
    color: var(--whiteColor);
}

.description--text {
    color: var(--grayColor);
    font-size: 14px;
}

h2 {
    color: var(--textColor);
    font-size: 24px;
}

h3 {
    font-size: 25px;
    color: var(--textColor);
}

h4 {
    color: var(--textColor);
    font-size: 16px;
}

.footer--subheading {
    color: var(--textColor);
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 12px;
}

ul {
    list-style: none;
}

.hover:hover {
    text-decoration: underline;
}

.image {
    width: 100%;
    height: 350px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.line {
    text-decoration: line-through;
    margin-bottom: 8px;
}

.box--description {
    padding: 32px;
}

.CTA {
    margin-top: 40px;
}

.underline {
    text-decoration: underline;
}

.section--padding {
    padding-top: var(--sectionPadding);
}

.cursor {
    cursor: pointer;
}