.header__messages {
    background-color: var(--headerColor);
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

.header__messages a:not(:last-child) {
    margin-right: 48px;
}

.header__main {
    display: flex;
    align-items: center;
    padding-top: var(--headerPadding);
    padding-bottom: var(--headerPadding);
}

.header__main__links li:not(:last-child) {
    margin-right: 16px;
}

.header__main div {
    margin-right: var(--headerPadding);
}

.header__main__search {
    flex-grow: 1;
}

.header__main__search input {
    width: 98%;
    height: 40px;
    border: 0;
    border-radius: var(--rounded);
    background-color: var(lightGray);
    padding: 0 16px;
}

.header__nav__list li:not(:last-child) {
    margin-right: var(--headerPadding);
}

.header__nav__location a {
    text-decoration: none;
}

.header__nav__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 8px;
}