.main__article {
    display: flex;
}

.main__article__info {
    width: 33%;
    padding: 48px;
    color: var(--whiteColor);
}

.main__article__image {
    width: 66%;
}

.main__article__image img {
    width: 100%;
    height: 100%;
}

.main__article__info__button {
    padding: 8px 16px;
    margin-top: var(--headerPadding);
    font-weight: bold;
}

.main__article__info--red {
    background-color: var(--redColor);
}

.main__article__info--yellow {
    background-color: var(--yellowColor);
}

.main__article__info__button--reversed {
    color: var(--whiteColor);
    background-color: var(--blackColor);

}

.main__article--reversed {
    flex-direction: row-reverse;
}

.main__image {
    padding-bottom: 48px;
    position: relative;
}

.main__image img {
    width: 100%;
}

.main__image__box {
    background-color: var(--whiteColor);
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 72px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* MAIN FEATURES */

.main__features {
    display: flex;
    gap: 2px;
}

.main__features__box {
    background-color: var(--lightGray);
    margin-left: 1px;
    padding: 32px;
    flex: 1 1 auto;
    text-align: center;
}

/* 
SPECIAL OFFER */

.main__special-offer h2 {
    margin-bottom: 8px;
    padding-bottom: 32px;
}

.main__special-offer__wrapper {
    display: flex;
}

.main__special-offer__wrapper__box {
    width: 33.33%;
    margin-left: 20px;
    background-color: var(--yellowColor);
}

.main__special-offer__wrapper__box--gray {
    background-color: var(--lightGray);
}

.main__special-offer__wrapper__box:nth-of-type(1) {
    margin-left: 0;
}

.main__special-offer__wrapper__box img {
    width: 100%;
}

.main__special-offer__wrapper__box__description p {
    font-size: 16px;
    color: var(--textColor);
}


/* RECOMMENDATION SECTION */

.main__recommendation__wrapper {
    display: flex;
    gap: 20px;
}

.main__recommendation__wrapper__item {
    width: 25%;
}

/* .hiden:hover{
    background: url("https: //www.ikea.com/hr/hr/images/products/askeby-dvosjed-na-razvlacenje-zelena__0385362_pe557901_s5.jpg?f=m") no-repeat center center/cover;
} */

.main__recommendation__wrapper__item__image2 {
    background-image: url("https://www.ikea.com/hr/hr/images/products/kleppstad-ormar-s-3-vrata-bijela__0753594_pe748782_s5.jpg?f=xxs");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__recommendation__wrapper__item__image2:hover {
    background: url("https: //www.ikea.com/hr/hr/images/products/kleppstad-ormar-s-3-vrata-bijela__0753597_pe748785_s5.jpg?f=xxs");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__recommendation__wrapper__item__image3 {
    background: url("https: //www.ikea.com/hr/hr/images/products/micke-radni-stol-bijela__0736018_pe740345_s5.jpg?f=xl") no-repeat center center/cover;
}

.main__recommendation__wrapper__item__image3:hover {
    background-image: url("https: //www.ikea.com/hr/hr/images/products/micke-radni-stol-bijela__0851508_pe565256_s5.jpg?f=m") no-repeat center/cover;
}

.main__recommendation__wrapper__item__image4 {
    background-image: url("https: //www.ikea.com/hr/hr/images/products/trones-element-za-obucu-odlaganje-bijela__0710711_pe727734_s5.jpg?f=m") no-repeat center/cover;
}

.main__recommendation__wrapper__item__image4:hover {
    background-image: url("https: //www.ikea.com/hr/hr/p/trones-element-za-obucu-odlaganje-bijela-00397307/") no-repeat center/cover;
}

*/ .main__recommendation__wrapper__item__red {
    color: #ed022a;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 4px;
}

.main__recommendation__wrapper__item__price {
    font-size: 22px;
    color: var(--blackColor);
    font-weight: bold;
    margin-bottom: 8px;
}

.main__recommendation__wrapper__item__currency {
    color: var(--blackColor);
    font-size: 14px;
    margin: 0 2px;
}

.main__recommendation__wrapper__item__cta {
    font-weight: 700;
    margin-bottom: 8px;
}

.main__recommendation__wrapper__item__more {
    color: var(--grayColor);
    font-size: 12px;
    margin-top: 8px;
}

.main__recommendation__wrapper__item__parag {
    background-color: #e00751;
    color: white;
    display: inline-block;
    padding: 8px;
    position: absolute;
    left: 0;
}

.main__recommendation__wrapper__item__price--yellow {
    background-color: var(--yellowColor);
    box-shadow: 0.125rem 0.125rem #e00751;
    padding: 0 0.3125rem;
}

.main__recommendation__wrapper__item--highlighted {
    position: relative;
}

/* MAIN INSPIRATION */

.main__inspiration__gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    margin-top: 40px;
}

.main__inspiration__gallery__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    grid-column: span 1;
    grid-row: span 4;
}

.main__inspiration__gallery__image--small {
    grid-row: span 3;
}

.main__inspiration__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

.main__inspiration__buttons button {
    background-color: var(--lightGray);
    color: #111;
    border: 1px solid var(--lightGray);
    border-radius: 64px;
    padding: 16px 24px;
    font-weight: bold;
    margin-right: 12px;
}

.main__inspiration__buttons button:hover {
    background-color: #dfdfdf;
}

.main__inspiration__buttons button:focus {
    border-color: var(--textColor);
}

.main__inspiration__load {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.main__inspiration__load button {
    border-radius: 64px;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    height: 2.5rem;
    padding: 0 2rem;
    background-color: var(--textColor);
    color: var(--whiteColor);
    border: none;
    font-size: 12px;
}

.main__inspiration__load button:hover {
    background-color: #000000c0;
    ;
}

/* MAIN ANNOUNCEMENT */

.main__announcement__gallery {
    display: flex;
    padding-top: 32px;
}

.main__announcement__items {
    width: 33.33%;
    background-color: var(--lightGray);
    margin-right: 20px;
}