div{
    background-color: antiquewhite;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}